
$offwhite: #F3F4F3;


body {
    margin: 0;
    background-color: $offwhite;
}

h1 {
    font-size: 100px;
    color: salmon;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 0 10%;
}
  
.logo-wrapper {
    margin-top: 24px;
    img {
        width: 100%;
    }
}
.home {
    background-color: $offwhite;
    min-height: 100vh;
}
.nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 24px;
    @media(max-width: 1000px){

    }
    .nav-item {
        transition: .3s;
        img {
            width: 100%;
            transition: .3s;
        }
        p {
            text-align: center;
        }
        &:hover img {
            transform: scale(1.02);
            transform: rotate(3deg);
        }
    }
}



.paintings-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; 
    .painting-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            width: 100%; 
            height: auto; 
        }
    }
}

.paintings-wrapper {
    transform: translateY(60px);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .paintings-wrapper.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  .animations-wrapper {
    transform: translateY(60px);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    .animation-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
        img {
            max-width: 500px;
            @media(max-width: 800px){
                max-width: 100%;
            }
        }
    }
  }

  .animations-wrapper.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  

  .navigation {
    .breadcrumbs {
        display: flex;
        justify-content: space-evenly;
        padding: 50px 0;
        @media(max-width: 900px){
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                font-size: 20px;
                margin-bottom: 12px;
            }
        }
        .breadcrumb {
            transition: .3s;
            &:hover {
                opacity: .6;
            }
        }
    }
  }

  .breadcrumb.active {
    text-decoration: underline!important;

  }

  
.animations {
    .animations-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        .animation-wrapper {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
  

  